body {
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.803),rgba(0, 0, 0, 0.553)),url("background.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    font-family:'Halant';
    height:auto;
    min-height:100vh;
    width:100%;
    margin:0 auto;

}

#head{
    display:flex;
    width:95%;
    margin:5px auto;
    height:40px;
}



#head > input{
    background:rgba(0, 0, 0, 0.658);
    color:rgba(248, 175, 123, 0.911);
    border:1px solid rgba(145, 112, 61, 0.658);
    margin:2px;
    text-align:center;
    box-shadow:inset -3px 3px 6px rgba(63, 40, 19, 0.658), inset 4px -2px 2px rgba(68, 44, 16, 0.548);
}

h1{
    margin-top:0;
    margin-left:10px;
    color:rgba(248, 175, 123, 0.911);
    font-size:1.8em;
    font-family:'Jost';
    font-weight:300;
    text-shadow:2px 2px 5px black;
}

#firstshelf {
    
    border-bottom:15px solid rgba(12, 7, 4, 0.801);
    border-left:15px solid rgba(12, 7, 4, 0.801);
    border-right:15px solid rgba(12, 7, 4, 0.801);
    height:auto;
    width:95%;
    margin:40px auto;
    margin-bottom:100px;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(auto-fit, minmax(120px, 1fr));
    box-shadow:5px 7px 10px black;
}

.book {
    border:2px solid rgb(49, 42, 27);
    position:relative;
    max-width: 80px;
    height:56vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:10px;
    overflow:hidden;
    background:linear-gradient(to right, darkolivegreen, rgb(90, 102, 69));
    box-shadow:inset -3px 3px 6px rgba(76, 100, 82, 0.658), inset 4px -2px 2px rgba(175, 192, 183, 0.418);
}

h2 {
    transform:rotate(270deg);
    color:rgb(182, 255, 163);
    margin:30px auto;
    font-size:18px;
    text-align:center;
    font-family:'Halant';
}

h3{
    color:white;
    font-family:'Halant';
    font-size:12px;
    position:absolute;
    bottom: 43%;
    transform:rotate(270deg);
    letter-spacing: 0.1em;
}

img{
    width:40px;
    height:60px;
    position:absolute;
    bottom: 13%;
}

span{
    color:palegreen;
    font-size:1.1em;
    border:1px solid white;
    padding:0 10px;
    margin:0px 5px 5px 0px;
}

button{
    margin: 10px auto;
    position:absolute;
    bottom:2%;
    font-family:'Montserrat';
    font-size:10px;
    background:linear-gradient(to right, darkolivegreen, rgb(90, 102, 69));
    border-radius:5px;
    color:white;
    padding:4px 7px;
    box-shadow:inset -2px 2px 3px rgba(38, 41, 39, 0.658), inset 2px -2px 2px rgba(214, 218, 214, 0.486);
}

.remove{
    position:absolute;
    bottom:0%;  
    height:12px;
    left:1;
    border:none;
    color:white;
    font-size:10px;
    background:transparent;
    box-shadow:none;
}



a {
    text-decoration:none;
    color:rgb(214, 212, 212);
}

.nytlink {
    text-decoration:none;
    color:palegreen;
    border:1px solid darkolivegreen;
    box-shadow:2px 2px 7px rgb(39, 39, 39);
    padding:2px 10px;
    font-family: 'Jost';
    background:rgba(0, 0, 0, 0.295);
}

#shop-1, #shop-2, #shop-3 {
    width:80px;
    height:45px;
    margin:0 15px;
}

#logos{
    display:flex;
    flex-direction:column;
    width:90%;
    height:auto;
    margin:20px auto;
    padding:10px;
    /*background:rgb(51, 65, 28);*/
}

.shoplink{
    text-transform:uppercase;
    background:darkolivegreen;
    color:rgba(198, 252, 198, 0.842);
    border:1px solid rgba(235, 182, 103, 0.233);
    font-family:'Montserrat';
    width:70px;
    text-align:center;
    padding:5px 10px;
    font-size:0.8em;
    border-radius:5px;
    box-shadow: inset -2px 2px 5px rgba(120, 207, 117, 0.688), inset 2px -2px 5px rgba(40, 75, 36, 0.642);
}

.shoplink:hover{
    transform:scale(1.1);
    border:1px solid rgb(233, 245, 212);
}

.results{
    background:rgba(24, 24, 23, 0.922);
    padding:10px;
    margin:5px auto;
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:1fr 700px 1fr;
    align-items: center;
    line-height:1.3em;
    border-radius:10px;
    box-shadow: inset -2px 2px 5px rgba(56, 56, 56, 0.688), inset 2px -2px 5px rgba(53, 53, 53, 0.642);
}

#bestseller {
    display:flex;
    justify-content:center;
    align-items:center;
    height:250px;
    background:rgba(0, 0, 0, 0.397);
    margin-bottom:20px; 
}



.nyt {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:5px;
}

#rank1, #rank2, #rank3, #rank4, #rank5 {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:10px;
    height:auto;
    color:white;
    font-family:'Jost';
    text-align:center;
}

.shopitem{
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#headerlogos{
    font-family:'Montserrat';
    text-align:center;
    margin-top:100px;
}

#footer{
    align-self:center;
    font-family:'Jost';
    font-size:0.8em;
    position:absolute;
    bottom:0.5%;
    right:0.9%;
    color:rgba(152, 251, 152, 0.722);
    text-align:center;
}

#head > #sub {
    background:linear-gradient(to right, darkolivegreen, rgb(90, 102, 69));
    border-radius:5px;
    font-family:'Montserrat';
    font-size:12px;
    background:linear-gradient(to right, darkolivegreen, rgb(90, 102, 69));
    border-radius:5px;
    color:rgba(198, 252, 198, 0.842);
    box-shadow: inset -2px 2px 5px rgba(120, 207, 117, 0.688), inset 2px -2px 5px rgba(40, 75, 36, 0.642);
    padding:5px 10px;
    
}

#times {
    text-align:center;
    color:white;
    font-family:'Jost';
    font-size: 0.7em;
    display:none;
}

@media only screen and (max-width:768px){
    #firstshelf{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    
    }

    body, #wrapper, #head, #firstshelf, #logos{
        max-width:90%;
        margin:0 auto;
    }
    body{
        max-width:99%;
        
        min-height:100vh;
    }

    #head{
        max-width:90%;
        display:flex;
        flex-direction:column;
        height:auto;
        margin:25px auto;
    }

  

    h1{
        display:none;
    }

    #logos{
        display:none;
    }

    #sub{
        width:30%;
        height:30px;
        margin:15px auto;
        align-self:center;
        border:1px solid red;
        box-shadow: inset -2px 2px 5px rgba(120, 207, 117, 0.688), inset 2px -2px 5px rgba(40, 75, 36, 0.642);
    }

    #head > input{
        height:30px;
    }

    .book{
        max-width:60px;
        height:45vh;
        
    }

    h2, h3{
        font-size:0.6em;
    }
    #footer{
    display:none;   
    }

    #bestseller {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:auto;
        background:rgba(0, 0, 0, 0.397);
      
    }

    #nh2{
        transform:none;
        font-size:1.2em;
        font-family:'Jost';
    }

    #rank1, #rank2, #rank3, #rank4, #rank5{
        line-height:1.7em;
    }

    #times{
        display:block;
    }
        
}